.border-pink{
    border-style:solid;
    border-color:pink;
}

.border-blue{
    border-style:solid;
    border-color:blue;
}

button {
    padding:100px;
    margin:25px;
}

#red-btn{
    background-color:red;
    border:1px solid black;
}

#yellow-btn{
    background-color:yellow;
    border:1px solid black;
}

#green-btn{
    background-color:green;
    border:1.5px solid black;
}

#blue-btn{
    background-color:blue;
    border:1px solid black;
}   